// font variables
$font-primary: Assistant;
$font-primary-extra-bold: Assistant-extrabold;
$font-primary-bold: Assistant-bold;
$font-primary-semi-bold: Assistant-semibold;

// color variables
$color-blue-primary: #60b0c0;