/* Header.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6496c8;
  color: black;
  padding: 0.5rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 3rem;
  margin-right: 1rem;
}

.business-name {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 1rem;
}

.navbar-nav li {
  font-size: 1.3rem;
  margin-right: 1.5rem;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.navbar-nav a:hover {
  color: white; /* Change color on hover */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar-logo {
    margin-bottom: 1rem;
  }

  .navbar-nav {
    margin-top: 1rem;
  }

  .navbar-nav ul {
    flex-direction: column;
  }

  .navbar-nav li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
